.ItemLayout {
  display: flex;
  flex-flow: column;
  flex: 0 0;
  height: 300px;
  max-width: 180px;
  min-width: 180px;
}

.ItemDescription {
  width: 100%;
  height: 22%;
  overflow: hidden;
}

.ItemInfo {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.ItemLayout p {
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
}

.Price {
  color: red;
}

.Sold {
    color: lightgray;
    font-size: 0.9em;
    text-align: end;
}

.ItemLayout img {
  width: 100%;
  height: 70%;
  object-fit: cover;

}
